h1 {
  font-size: 150px;
  font-family: "Grandstander", cursive;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

.question {
  margin-top: 1.5em;
  font-size: 30px;
  font-family: "Grandstander", cursive;
  text-align: center;
}

.question > div {
  display: inline-block;
}

.login {
  margin-top: 1.5em;
  font-size: 30px;
  font-family: "Grandstander", cursive;
  text-align: center;
}

.login > div {
  display: inline-block;
}
